.gktauapa {
    position: absolute;
    top: 0;
    left: 0;
    width: 99vw;
    height: 101vh;
    background-image: url('../Image/Log3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

