.align-border-left {
  text-align: left;
  margin-right: 50%;
}

.button-detail-transparan {
  border: none;
  background-color: transparent;
  color: blue;
}

@media screen and (max-width: 610px) {
  .align-border-left {
    text-align: left;
    margin-right: 30%;
  }
}

@media screen and (max-width: 475px) {
  .align-border-left {
    text-align: left;
    margin-right: 20%;
  }
}
